<div class="card queue-card m-2">
  <div class="card-content">
    <div class="content">
      <div class="buttons ml-6 is-pulled-right">
        <div class="button is-danger is-small">
          <fa-icon [icon]="faTrash"></fa-icon>
        </div>
      </div>
      <div class="">
        <p class="title is-5"><strong>{{ track.name }}</strong></p>
        <div class="subtitle is-7">
          <fa-icon [icon]="faYoutube" class="mr-2 is-pulled-left"></fa-icon>
          <div class="is-flex is-align-items-center is-justify-content-space-between">
            <p class="is-marginless"><strong>Added by: </strong>{{ track.queuedBy }}</p>
            <p><strong>Length: </strong>{{ track.length | formatSeconds }}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
