/* You can add global styles to this file, and also import other style files */
html {
  background-color: #eee;
}

html, body {
  overflow: auto;
}

beets-root {
  display: block;
}

.is-huge {
  font-size: 6em;
}
.has-flex-gap-1 {
  gap: 0.75rem;
}
