/* You can add global styles to this file, and also import other style files */
html {
  background-color: #eee;
}

html, body, beets-root, beets-user-view, .user-view-container {
  min-height: 100vh;
}

beets-root, beets-user-view {
  display: block;
}
