<ng-container *ngIf="state != null; else loading">
  <div class="container user-view-container">
    <div class="card player-card">
      <div class="card-content p-4">
        <div class="media is-flex is-align-items-center mb-3">
          <div class="media-left">
            <figure class="image">
              <button *ngIf="state.playingStateType === PlayingStateType.Paused && state.currentTrack != null"
                      (click)="play()"
                      class="button is-primary">
                <fa-icon [icon]="faPlay"></fa-icon>
              </button>
              <button *ngIf="state.playingStateType !== PlayingStateType.Paused && state.currentTrack != null"
                      (click)="pause()"
                      class="button is-danger">
                <fa-icon [icon]="faPause"></fa-icon>
              </button>
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-5 is-flex is-align-items-center is-justify-content-space-between">
              <ng-container *ngIf="state.currentTrack != null">

                <span class="mr-2 track-name">{{ state.currentTrack.name }}</span>
                <button (click)="next()" class="button is-link is-small">
                  <fa-icon [icon]="faForward"></fa-icon>
                </button>
              </ng-container>
              <ng-container *ngIf="state.currentTrack == null">
                <span>Waiting for songs...</span>
              </ng-container>
            </p>

          </div>
        </div>

        <div class="content">
          <ng-container *ngIf="state.currentTrack != null">
            <progress class="progress is-small is-marginless"
                      [value]="state.playingTime"
                      [max]="state.currentTrack.length"></progress>
            <div class="is-flex is-justify-content-space-between">
              <p class="is-size-7 is-marginless">{{ state.playingTime | formatSeconds }}</p>
              <p class="is-size-7 is-marginless">{{ name }}</p>
              <p class="is-size-7 is-marginless">{{ state.currentTrack.length | formatSeconds }}</p>
            </div>
          </ng-container>
          <ng-container *ngIf="state.currentTrack == null">
            <progress class="progress is-small is-marginless" max="0"></progress>
            <p class="is-size-7 is-marginless has-text-centered">{{ name }}</p>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="queue">
      <beets-queue-item *ngFor="let track of state.queue" [track]="track"></beets-queue-item>
      <div class="has-text-centered m-2">
        <button (click)="addSong()" class="button is-success is-large">
          <fa-icon [icon]="faPlus" class="pr-2"></fa-icon>
          Queue song
        </button>
      </div>
    </div>
  </div>
  <beets-song-search></beets-song-search>
</ng-container>

<ng-template #loading>
  <pre style="font-family: monospace;">
  ⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⠿⠿⠿⠿⠿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
  ⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⣉⡥⠶⢶⣿⣿⣿⣿⣷⣆⠉⠛⠿⣿⣿⣿⣿⣿⣿⣿
  ⣿⣿⣿⣿⣿⣿⣿⡿⢡⡞⠁⠀⠀⠤⠈⠿⠿⠿⠿⣿⠀⢻⣦⡈⠻⣿⣿⣿⣿⣿
  ⣿⣿⣿⣿⣿⣿⣿⡇⠘⡁⠀⢀⣀⣀⣀⣈⣁⣐⡒⠢⢤⡈⠛⢿⡄⠻⣿⣿⣿⣿
  ⣿⣿⣿⣿⣿⣿⣿⡇⠀⢀⣼⣿⣿⣿⣿⣿⣿⣿⣿⣶⣄⠉⠐⠄⡈⢀⣿⣿⣿⣿
  ⣿⣿⣿⣿⣿⣿⣿⠇⢠⣿⣿⣿⣿⡿⢿⣿⣿⣿⠁⢈⣿⡄⠀⢀⣀⠸⣿⣿⣿⣿
  ⣿⣿⣿⣿⡿⠟⣡⣶⣶⣬⣭⣥⣴⠀⣾⣿⣿⣿⣶⣾⣿⣧⠀⣼⣿⣷⣌⡻⢿⣿
  ⣿⣿⠟⣋⣴⣾⣿⣿⣿⣿⣿⣿⣿⡇⢿⣿⣿⣿⣿⣿⣿⡿⢸⣿⣿⣿⣿⣷⠄⢻
  ⡏⠰⢾⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⢂⣭⣿⣿⣿⣿⣿⠇⠘⠛⠛⢉⣉⣠⣴⣾
  ⣿⣷⣦⣬⣍⣉⣉⣛⣛⣉⠉⣤⣶⣾⣿⣿⣿⣿⣿⣿⡿⢰⣿⣿⣿⣿⣿⣿⣿⣿
  ⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⡘⣿⣿⣿⣿⣿⣿⣿⣿⡇⣼⣿⣿⣿⣿⣿⣿⣿⣿
  ⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣇⢸⣿⣿⣿⣿⣿⣿⣿⠁⣿⣿⣿⣿⣿⣿⣿⣿⣿
  </pre>
</ng-template>
