.player-card {
  border-radius: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999999;
  box-shadow: 0 0 17px 4px rgba(138,138,138,0.64);
  border-top: solid 1px #333;
}
.track-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.queue {
  padding-bottom: 114px;
}

